body {
  background: linear-gradient(264deg, #e3fdf5 0%, #ffe6fa 100%);

  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(75, 85, 88);
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

h3 {
  display: inline;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

footer {
  font-size: 12px;
  margin-left: 10px;
}

.btn {
  margin: 0 10px 0 10px;
}
.container {
  margin-top: 30px;
}

.card {
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 40px;
}
.navbar {
  display: unset;
}

.sunny-day {
  width: 200px;
}

.fas.xl {
  color: rgb(75, 85, 88);
  font-size: 150px;
}

.fas.sm {
  font-size: 30px;
  color: rgb(75, 85, 88);
}

.precipitation {
  margin-block-end: 0px;
}

.week-days {
  text-align: center;
}

#today-date {
  margin-top: 2rem;
  margin-bottom: unset;
  font-style: italic;
  font-weight: bold;
}

#celcius,
#fahrenheit {
  color: blue;
  text-decoration: none;
}

#celcius:hover {
  text-decoration: underline;
  cursor: pointer;
}

#fahrenheit:hover {
  text-decoration: underline;
  cursor: pointer;
}
